<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logn in</title>
</head>
<body>
    <section>
        <div>
            <form action="http://127.0.0.1:8880/upload" method="post">
                <div>
                    <input type="file" name="name">
                    <!--<input type="password" name="password">-->
                </div>
                <input type="submit">
                <input type="reset">
            </form>
        </div>
    </section>
</body>
</html>